/*@tailwind base;

@tailwind components;

@tailwind utilities;*/

body {
  margin: 0;
  background-image: url("./pics/oliver-paske-stones.jpg"); 
  height: 500px;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
/*Photo by <a href="https://burst.shopify.com/@matthew_henry?utm_campaign=photo_credit&amp;utm_content=High+Res+River+Stone+Texture+Picture+%E2%80%94+Free+Images&amp;utm_medium=referral&amp;utm_source=credit">Matthew Henry</a> from <a href="https://burst.shopify.com/api-colorful?utm_campaign=photo_credit&amp;utm_content=High+Res+River+Stone+Texture+Picture+%E2%80%94+Free+Images&amp;utm_medium=referral&amp;utm_source=credit">Burst</a>*/

/*login form*/
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
}

/*navBar and dropdown*/
.nav-container {
  /* height */
  height: 60px;
  border-color: rgb(161, 220, 247);
  border-bottom-style: solid;
  border-width: 10px;
  padding: 20px;
  margin: 0px; 
  background: rgb(48, 194, 252);
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* justify-content: flex-start; */
}

.nav-item {
  padding: 10px;

}
/* DropDown child of nav-item */

.high-light {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 5px;
}
.high-light:hover {
  background: rgb(161, 220, 247);
  border-radius: 10px;
}

/*.nav-item:hover {
  background: rgb(161, 220, 247);
}*/
/*drop down menus*/
/*.wrapper{
  display: inline-block;
  flex-direction: column;
  align-items: flex-start;
}*/

.transfer, .ClearForm {
  padding: 15px;
  height: fit-content;
}

/*.ClearForm {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}*/



/*drop down menu */
.list {
  display: none;
  position: static;/*absolute*/
  background-color: white ;
  /*min-width: 80px;*/
  max-width: 90px;
 /* padding-left: 10px;
  padding-right: 10px;*/
  padding: 5px;
  border-style: solid;
  border-color:rgb(7, 199, 55);
  border-width: 2px;
  border-radius: 10px;
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;*/
}


.wrapper:hover .list {
  display: flex; /*inline block*/
  align-items: flex-start;
  flex-direction: column;
  overflow: visible;
}
.wrapper {
  /*overflow: visible;*/
  /*position: absolute;*/
  /*top: 58px;*/
  /*display: inline-block;*/
  /*background-color: rgb(161, 220, 247);*/
  overflow: hidden;
}

.list-item {
  display: block;
  border-radius: 10px;
  margin: 5px;

}

.list-item:hover {
  background:  rgb(161, 220, 247);
}

/*.header-title:hover {
  background:  rgb(161, 220, 247);
  border-radius: 10px;
  padding: 10px;
}*/

/*.header-title:hover .list{
  display: block;
}*/

/*NewBudgetContainer */
.container, .edit-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 50px;
}

.show-container{
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* new template form and new budget form*/
.NewTemplateForm, .edit-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  padding: 20px;
  margin: 20px;
  padding-left: 50px;
  margin-left: 50px;
  border-style: solid;
  border-radius: 15px;
  border-color: rgb(48, 194, 252);
  background-color: white;
}

.NewBudgetForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin: 20px;
  margin-top: 50px;
  padding-left: 50px;
  margin-left: 50px; 
  border-style: solid;
  border-radius: 15px;
  border-color: rgb(48, 194, 252);
  background-color: white;
}

.ShowPage {
  padding: 20px;
  padding-top: 5px;
  margin: 50px;
  text-align: center;
  border-style: solid;
  border-color: rgb(48, 194, 252);
  border-radius: 15px;
  background-color: white;
}

.show-page-wrap, .expenses-wrapper, .incomes-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.new-template-item .new-item .new-budget-item {
  padding: 10px;
}

.total {
  box-sizing: content-box;
  display: inline-block;
  border-style: solid;
  border-color: rgb(48, 194, 252);
  border-width: 1px;
  padding: 5px;
}

.title {
  font-size: 1.5em;
  font-weight: lighter;
}

/*income input/expense input*/
.label {
  font-weight: lighter;
  
  
  color: rgb(7, 199, 55);
}

.ShowPage, .NewTemplateForm, .NewBudgetForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.center {
  color: rgb(8, 220, 235);
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center > h1 {
  color: rgb(248, 247, 234);
}


h1, h2, h3 {
  font-weight: lighter;
}

h3 {
  color: rgb(7, 199, 55);;
}

.to-the-left {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  border-style: solid;
  border-color: rgb(7, 199, 55);
  background-color: rgb(247, 252, 248);
  border-radius: 15px;
 /* height: 230px;*/
  height: auto;
}

.Home {
  margin: 50px;
}

.yellow {
  color: yellow;
}

.green {
  color: rgb(40, 250, 40);
}

.orange {
  color: rgb(253, 110, 44);
}

.red {
  color: rgb(252, 11, 11);
}
.purple {
  color: rgb(247, 9, 247)
}

.blue {
  color: rgb(69, 208, 243)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden {
  display: none;
  position: static;
  overflow: visible;
}

.bttn {
  background-image: linear-gradient(to bottom right, transparent, transparent 25%,grey);
  border-radius: 10px;
  color: black;
  font-size: 1em;
  border-style: groove; 
  border-width: 2px;
  padding: 5px;
}

.link {
  text-decoration: none;
  color: black;  
  
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 10px;
}

.label {
  margin: 5px;
  
}
.input {
  margin: 10px;
}



@media screen and (max-width: 1024px){
  body {
    font-size: 2em;
  }
  .container, .edit-container, .show-container {
    margin: auto;
    padding: auto;
  }

  .container {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
  }
  
 /* .NewBudgetForm, .ShowPage, .NewTemplateForm, .to-the-left, .EditForm {
    padding: 15px;
    margin: 15px;
  }*/
  .ExpenseInput, .IncomeInput, .inputs {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: flex-end;
  }

  .nav-container{
    height: 130px;
  }

  .input {
    font-size: 1em;
  }

  .label{
    margin-top: 10px;
    margin-left: 5px;
  }

  .App{ 
    margin: auto;
    display: flex;
    flex-direction: column;  
  }
}

@media screen and (max-width: 540px){
  .nav-container {
    width: fit-content;
    min-width: 540px;
    /*text-align: center;*/
  }
  .nav-bar {
    text-align: center;
  }
  .nav-item {
    display: inline-block;
  }

  .container{
    justify-content: center;   
  }
}

@media screen and (max-width: 414px){
  body {
    font-size: 4em;
    
  }

  .nav-container {
    height: 300px;
  }

  .show-contianer, .container, .to-the-left {
    margin: auto;
    padding: auto;
  }

  .show-page-wrap {
    
    align-items: center;
  }

  .show-container {
    align-items: center;
  }

  .ShowPage {
    margin: auto;
    padding: auto;
  }

  .App {
    background: cover;
    text-align: center;
  }

  .label {
    font-size: 1.5em;
  }

  .ExpenseInput {
    padding-bottom: 20px;
  }

  .IncomeInput {
    padding-bottom: 20px;
  }

  h2 {
    font-weight: 550;
  }

  .to-the-left {
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .NewTemplateForm {
    margin: auto;
    margin-left: 25px;
    padding: auto;
    margin-bottom: 25px;
  }

  .NewBudgetForm {
    margin: auto;
    margin-left: 25px;
    padding: auto;
    margin-bottom: 25px;
  }

  
}
